<!DOCTYPE html>
<html lang="en" ng-app="dmxApp">
<head>
    <meta charset="UTF-8">
    <title>My Really Simple DMX Controller</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

    <style>
        body {
            padding:1em;
        }

        .dmxValues{

        }

        .dmxValues .value{
            display: inline-block;
            border: 1px solid #67a7e3;
            width: 34px;
            height: 34px;
            position: relative;
            float:left;
        }

        .dmxValues .channel{
            text-align: left;
            padding-left: 2px;
            font-size: 11px;
            color: #666666;
            background-color: #eaffff;
        }

        .dmxValuesContainer {
            margin:1em;
            text-align: center;
        }
    </style>
</head>
<body>
<script>
    var dmx = [];

    function setDMX(start,intensity){
        dmx[start - 1] = intensity;
    }

    var dmxApp = angular.module('dmxApp', []);

    var Light = (function(startDMXAddress){
            this.startDMXAddress = startDMXAddress;
            this.r = 0;
            this.g =0;
            this.b =0;

            return {
                start : this.start,
                end : this.end,
                setColour : function(red,green,blue){
                    r = Math.floor(red * 255);
                    g = Math.floor(green * 255);
                    b = Math.floor(blue * 255);
                },
                getDMXValues : function(){
                    return [255, r, g, b]
                }
            }})();

    dmxApp.controller('ButtonsController', function ($scope, $http){
        $scope.dmxData = Array.apply(null, new Array(512)).map(Number.prototype.valueOf,0);

        $scope.setLightValues = function(){
            var dmxPosition = parseInt($scope.startAddress,10) - 1;
            $scope.dmxData[dmxPosition] = parseInt($scope.main,10);
            $scope.dmxData[dmxPosition+1] = parseInt($scope.r,10);
            $scope.dmxData[dmxPosition+2] = parseInt($scope.g,10);
            $scope.dmxData[dmxPosition+3] = parseInt($scope.b,10);

        };
        //            var inputText = $scope.dmxValues.split(',').map(function(v) {return parseInt(v,10)});

        function getDMXJson(){
            return {
                "dmx": $scope.dmxData
            };
        }

        sendDmx = function(){
            $http.post('http://localhost:3456', getDMXJson()).then(function(){
                sendDmx();
            });
        };
        sendDmx();

        $scope.clearAllDmx = function(){
            $scope.dmxData = Array.apply(null, new Array(512)).map(Number.prototype.valueOf,0);
        };

        var crossFadeProgress = 0;

        function parseDec(value){
            return parseInt(value, 10);
        }

        $scope.crossFade = function(){

            crossFadeProgress = 0;
            updateCrossFade();
        };

        var updatePeriodInMs = 50;
        function updateCrossFade(){
            crossFadeProgress +=  1 / (parseDec($scope.crossFadeTimePeriod) * 1000 / updatePeriodInMs) ;
            if (crossFadeProgress < 1){
                var initial = (1 - crossFadeProgress );
                var final = crossFadeProgress;
                r = Math.floor(parseDec($scope.rStart) * initial + parseDec($scope.rEnd) * final);
                $scope.dmxData[2] = r;
                setTimeout(updateCrossFade, updatePeriodInMs);
            } else if (crossFadeProgress >= 1 ){
                r = Math.floor($scope.rEnd);
            }
        }
    })


</script>

<div data-ng-controller="ButtonsController">
    <input type="text" data-ng-model="startAddress" placeholder="startAddress" >
    <input type="text" data-ng-model="main" placeholder="main" >
    <input type="text" data-ng-model="r" placeholder="r" >
    <input type="text" data-ng-model="g" placeholder="g" >
    <input type="text" data-ng-model="b" placeholder="b" >
    <button  data-ng-click="setLightValues()" class="btn btn-default">Set Light Values</button>
    <br />

    <h4>Crossfade Proof of concept</h4>
    <h5>Start</h5>
    <input type="text" data-ng-model="rStart" placeholder="r" >
    <h5>End</h5>
    <input type="text" data-ng-model="rEnd" placeholder="r" >
    <h5>Time Period in seconds</h5>
    <input type="text" data-ng-model="crossFadeTimePeriod" placeholder="crossFadeTimePeriod" >
    <button data-ng-click="crossFade()" class="btn btn-default">Crossfade</button>

    <br />

    <button data-ng-click="clearAllDmx()" class="btn btn-default">Clear All DMX</button>
    <div>
        <button data-ng-show="!showCurrentDmx" data-ng-click="showCurrentDmx = !showCurrentDmx" class="btn btn-default">Show Current Dmx</button>
        <button data-ng-show="showCurrentDmx" data-ng-click="showCurrentDmx = !showCurrentDmx" class="btn btn-default">Hide Current Dmx</button>

        <div class="dmxValuesContainer">
        <div data-ng-show="showCurrentDmx" data-ng-repeat="dmxChannel in dmxData  track by $index" class="dmxValues">
            <div class="value">
                <div class="channel"> {{ $index }}</div>
                <div> {{ dmxChannel }}</div>
            </div>
        </div>
        </div>
    </div>

</div>

</body>
</html>
